<footer>
	<div class="grid">
		<div class="unit one-third center-on-mobiles">
			<p>The contents of this website are <br />&copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the <a href="{{ site.repository }}/blob/master/LICENSE">MIT&nbsp;License</a>.</p>
		</div>
		<div class="unit two-thirds center-on-mobiles">
			<div class="contacts center-on-mobiles">
				<a href="http://github.com/rexdex/"><img src="/images/github_16.png"/>github.com/rexdex</a><br/>
				<a href="http://twitter.com/rexdex/"><img src="/images/twitter_16.png"/>twitter.com/RexDexPL</a><br/>
				<a href="mailto:rexdexpl (at) gmail.com"><img src="/images/email_16.png"/>rexdexpl (at) gmail.com</a><br/>
				<a href="http://feeds.feedburner.com/rexdex"><img src="/images/rss_16.png"/>subscribe to RSS Feed</a><br/>
			</div>
		</div>
	</div>  
</footer>


