<header>
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit half center-on-mobiles">
      <h1>
        <a href="/">
          <span class="sr-only">RexDex</span>
          <img src="/images/trexlogo.png" width="166" height="115" alt="RexDex Logo" class="logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit half hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>